@charset "UTF-8";
* {
  /* Eliminamos espacios y márgenes*/
  margin: 0;
  padding: 0;
  /* Declaramos una tipografía para TODO */
}

/* Grid*/
.pagina-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  grid-template-rows: 0.1fr 1fr 0.5fr 0.6fr;
  grid-template-areas: "heade heade heade" "main main aside" "main main aside" "footer footer footer";
}

.pagina-grid header {
  grid-area: heade;
}

.pagina-grid main {
  grid-area: main;
}

.pagina-grid aside {
  grid-area: aside;
}

.pagina-grid footer {
  grid-area: footer;
}

.cursos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.2fr;
  grid-template-areas: "encab encab encab" "curso curso curso" "pie-cursos pie-cursos pie-cursos";
}

.cursos-grid header {
  grid-area: encab;
}

.cursos-grid main {
  grid-area: curso;
}

.cursos-grid footer {
  grid-area: pie-cursos;
}

.servicios-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.2fr;
  grid-template-areas: "encab encab" "serv  serv" "pie-cursos pie-cursos";
}

.servicios-grid header {
  grid-area: encab;
}

.servicios-grid main {
  grid-area: serv;
}

.servicios-grid footer {
  grid-area: pie-cursos;
}

.nosotros-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.2fr;
  grid-template-areas: "encab" "nosotros" "pie-nosotros";
}

.nosotros-grid header {
  grid-area: encab;
}

.nosotros-grid main {
  grid-area: nosotros;
}

.nosotros-grid footer {
  grid-area: pie-nosotros;
}

/*Encabezado*/
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7aae0;
}
.logo img {
  width: 250px;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*mi estilo bs*/
.bg-body-tertiary--m {
  background-color: #f7cbf4;
}

/*main cursos*/
.titulos {
  display: flex;
  flex-direction: column;
}
.titulos__principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  color: #6b0768;
  width: 400px;
  align-self: center;
  font-family: serif;
  font-size: 30px;
}
.titulos__secundario {
  display: flex;
  margin: 20px;
  width: 400px;
  color: #860680;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cursos__color-recuadro {
  background-color: #f7cbf4;
  width: 320px;
  border-radius: 10px;
  padding: 20px 10px 1px 20px;
  margin: 10px;
}
.cursos__color-recuadro__imagen {
  width: 280px;
}
.cursos__color-recuadro__imagen img {
  width: 100%;
  border-radius: 10px;
}
.cursos__color-recuadro p {
  display: flex;
  flex-wrap: wrap;
  font-family: serif;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  width: 250px;
}

.cursos-pag {
  display: flex;
  flex-wrap: wrap;
}
.cursos-pag__color-recuadro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f7cbf4;
  width: 700px;
  height: 700px;
  border-radius: 10px;
  padding: 20px 10px 1px 20px;
  margin: 10px;
}
.cursos-pag__color-recuadro h4 {
  flex-wrap: wrap;
  align-self: center;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  color: #860680;
  margin-bottom: 20px;
  width: 500px;
}
.cursos-pag__color-recuadro__items {
  flex-wrap: wrap;
  flex-direction: row;
}
.cursos-pag__color-recuadro__items img {
  width: 280px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.cursos-pag__color-recuadro__items button {
  width: 100px;
  margin-left: 120px;
  border-radius: 5px;
  font-family: serif;
  font-size: 16px;
}
.cursos-pag__color-recuadro__items p {
  display: flex;
  flex-wrap: wrap;
  font-family: serif;
  font-size: 16px;
  margin-left: 5px;
  width: 600px;
}

.contactos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.contactos__imag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 250px;
}
.contactos__imag img {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 50px;
}
.contactos__imag p {
  width: 100px;
  font-size: 25px;
  font-family: serif;
  margin-left: 30px;
}

/*main nosotros*/
.nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.nosotros p {
  font-style: italic;
  font-weight: bold;
  justify-content: center;
  font-size: 18px;
}

/*index aside*/
.servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 20px;
}
.servicios__titulo-serv h2 {
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #860680;
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
}
.servicios__asesoramiento p {
  flex-wrap: wrap;
  margin-top: none;
  margin-bottom: 20px;
  width: 300px;
  font-family: serif;
  font-size: 20px;
}
.servicios__lis li a {
  text-decoration: none;
  width: 300px;
  font-family: serif;
  font-size: 18px;
}

.servicios-pag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 20px;
}
.servicios-pag__caja {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin-left: 5px;
  background-color: #860680;
  justify-content: center;
  border-radius: 10px;
}
.servicios-pag__caja img {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  border-radius: 10px;
  margin: 10px 40px 10px 40px;
}
.servicios-pag p {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 400px;
  font-family: serif;
  font-size: 20px;
}

.pie-pag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: none;
  justify-content: center;
  width: 100%;
}
.pie-pag__fimg {
  width: 130px;
}
.pie-pag__fimg img {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
}
.pie-pag__inst {
  margin-top: 50px;
  margin-left: 100px;
}
.pie-pag__inst img {
  border-radius: 10%;
  width: 30px;
}
.pie-pag__face {
  margin-top: 50px;
  margin-left: 10px;
}
.pie-pag__face img {
  border-radius: 10%;
  width: 30px;
}
.pie-pag__whats {
  margin-top: 50px;
  margin-left: 10px;
}
.pie-pag__whats img {
  border-radius: 10%;
  width: 30px;
}

/*Medias Query*/
@media (max-width: 768px) {
  .pagina-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.3fr;
    grid-template-areas: "heade heade" "main aside" "main aside" "footer footer";
  }
  .cursos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 0.2fr;
    grid-template-areas: "encab encab" "curso curso" "pie-cursos pie-cursos";
  }
  .logo img {
    width: 200px;
    border-radius: 50%;
  }
  .titulos__principal {
    font-size: 29px;
  }
  .titulos__secundario {
    font-size: 20px;
  }
  .cursos {
    width: 450px;
  }
  .cursos__color-recuadro {
    width: 300px;
    padding: 20px 3px 20px 20px;
  }
  .cursos__color-recuadro__imagen {
    width: 260px;
    margin-right: 10px;
  }
  .cursos__color-recuadro p {
    font-size: 14px;
    width: 200px;
  }
  .cursos-pag__color-recuadro {
    width: 550px;
    height: 600px;
  }
  .cursos-pag__color-recuadro h4 {
    font-size: 18px;
    width: 100%;
  }
  .cursos-pag__color-recuadro__items {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cursos-pag__color-recuadro__items img {
    width: 220px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .cursos-pag__color-recuadro__items button {
    width: 80px;
    margin-left: 60px;
    border-radius: 5px;
    font-size: 14px;
  }
  .cursos-pag__color-recuadro__items p {
    font-size: 14px;
    margin-left: 5px;
    width: 500px;
  }
  .servicios__titulo-serv h2 {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .servicios__asesoramiento p {
    width: 200px;
    font-size: 16px;
  }
  .servicios__lis li a {
    text-decoration: none;
    width: 150px;
    font-size: 16px;
  }
  .servicios-pag__caja {
    width: 280px;
  }
  .servicios-pag__caja img {
    width: 250px;
  }
  .servicios-pag p {
    width: 300px;
    font-size: 16px;
  }
  .contactos__imag {
    width: 180px;
  }
  .contactos__imag img {
    width: 40px;
  }
  .contactos__imag p {
    font-size: 20Px;
  }
  .nosotros p {
    font-size: 14px;
  }
  .pie-pag__fimg img {
    width: 110px;
  }
  .pie-pag__inst {
    margin-top: 50px;
    margin-left: 50px;
  }
}
/*Width 576*/
@media (max-width: 576px) {
  .pagina-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr;
    grid-template-areas: "heade" "main" "aside" "footer";
  }
  .cursos-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: "encab" "curso" "pie-cursos";
  }
  .servicios-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: "encab encab" "serv  serv" "pie-cursos pie-cursos";
  }
  .encabezado {
    width: 100%;
  }
  .logo img {
    width: 180px;
    border-radius: 50%;
  }
  .titulos__principal {
    font-size: 24px;
  }
  .titulos__secundario {
    font-size: 18px;
  }
  .cursos {
    width: 450px;
  }
  .cursos__color-recuadro {
    width: 280px;
    padding: 20px 3px 20px 20px;
  }
  .cursos__color-recuadro__imagen {
    width: 240px;
    margin-right: 10px;
  }
  .cursos__color-recuadro p {
    font-size: 12px;
    width: 180px;
  }
  .cursos-pag__color-recuadro {
    width: 520px;
    height: 550px;
  }
  .cursos-pag__color-recuadro h4 {
    font-size: 16px;
    width: 100%;
  }
  .cursos-pag__color-recuadro__items {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cursos-pag__color-recuadro__items img {
    width: 220px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .cursos-pag__color-recuadro__items button {
    width: 80px;
    margin-left: 60px;
    border-radius: 5px;
    font-size: 14px;
  }
  .cursos-pag__color-recuadro__items p {
    font-size: 12px;
    margin-left: 5px;
    width: 470px;
  }
  .servicios__titulo-serv h2 {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .servicios__asesoramiento p {
    width: 200px;
    font-size: 16px;
  }
  .servicios__lis li a {
    width: 150px;
    font-size: 16px;
  }
  .servicios-pag__caja {
    width: 280px;
  }
  .servicios-pag__caja img {
    width: 250px;
  }
  .servicios-pag p {
    width: 200px;
    font-size: 14px;
  }
  .contactos {
    flex-direction: column;
  }
  .contactos__imag {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .contactos__imag img {
    width: 35px;
  }
  .contactos__imag p {
    font-size: 20Px;
  }
  .nosotros p {
    font-size: 14px;
  }
  .pie-pag {
    width: 100%;
    margin-bottom: 20px;
  }
  .pie-pag__fimg img {
    width: 110px;
  }
  .pie-pag__inst {
    margin-left: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
