

  /*.navegador {
    display: flex;
   justify-content: end;   
  }
  

  .menu{
    display: flex;

  }


  
    .menu li a{
       color: #860680;
       text-decoration: none;
       list-style: none;
       font-weight: bolder;
       font-style: italic;
       margin: 5px;
    }
    .menu li{
        list-style: none;      

    }
    */



   /*Servicios*/



