/*Encabezado*/
.header {
  background-color: $color-heder;
}

  .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-heder;
     
    img{
      width: 250px;
      border-radius: 50%;
      padding-top: 20px;  
      padding-bottom: 20px;
    }  
  
    }
   

 