
.pie-pag{
   @include flex-w;
   @include margentb (70px, none);
   justify-content: center;
   width: 100%;
       

    &__fimg{
      width: 130px;
    img{

      @include flex-w;
      width: 130px;
      }  
    }  
    &__inst {
       @include margentl (50px, 100px);
    img{
      @include im-b-w(10%, 30px);  
      
       }
      }
      &__face {
        @include margentl (50px, 10px);
 
        img{
          @include im-b-w(10%, 30px);

       }
       }
       &__whats {
      @include margentl (50px, 10px);
        img{
       @include im-b-w(10%, 30px);

       }
       }


      
       }
      
  
