
.pie-pag{
    display: flex;
    flex-wrap: wrap;
    @include margentb (70px, none);
       

    &__fimg img{

      display: flex;
      flex-wrap: wrap;
      margin-left: 300px;
      width: 130px;       
      }    
    &__inst {
      margin-top: 50px;
      margin-left: 100px;
    img{
      border-radius: 10%;
      width: 30px;   
      
       }
      }
      &__face {
        margin-top: 50px;
        margin-left: 10px;
        img{
        border-radius: 10%;
        width: 30px;

       }
       }
       &__whats {
        margin-top: 50px;
        margin-left: 10px;
        img{
        border-radius: 10%;
        width: 30px;

       }
       }


      
       }
      
  
