/*index aside*/
.servicios{
    @include flex-w;
    flex-direction: column;
    @include margentb (50px, 20px);
    &__titulo-serv
       h2{
      flex-wrap: wrap;
      @include margentb (80px, 20px);      
      color: $titulo-secundario;   
      font-family: serif;
      font-weight: bold;   
      font-size: 20px;
    }
    &__asesoramiento 
    p{
      flex-wrap: wrap;
      @include margentb (none, 20px);
      width: 300px;
      font-family: serif;
      font-size: 20px;
     
    }

    &__lis li a{
      text-decoration: none;
      width: 300px;
      font-family: serif;
      font-size: 18px;

     }
  }

  .servicios-pag{
    @include flex-w;    
    @include margentb (50px, 20px);

    &__caja{
      @include flex-w;
      width: map-get($dimension,grande );
      margin-left: 5px;
      background-color: $titulo-secundario;
      justify-content: center;
      border-radius: 10px;
      img{
        @include flex-w;
        width: map-get($dimension, medio);
        border-radius: 10px;
        margin: 10px 40px 10px 40px;   
    
       }     

      }
      p{
        @include flex-w;
        margin-left: 10px;
        width: 400px;
        font-family: serif;
        font-size: 20px;
      
       }
      }

