/* Grid*/

.pagina-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: 0.1fr 1fr 0.5fr 0.6fr;
    grid-template-areas: 
    "heade heade heade"
    "main main aside"
    "main main aside"
    "footer footer footer";
  }

  .pagina-grid header{
    grid-area: heade;
  }

  .pagina-grid main{
    grid-area: main;
  }

  .pagina-grid aside{
    grid-area: aside;
  }

  .pagina-grid footer{
    grid-area: footer;
  }

.cursos-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  grid-template-rows: 0.1fr 1fr 0.2fr;
  grid-template-areas : 
  "encab encab encab"
  "curso curso curso"
  "pie-cursos pie-cursos pie-cursos";
  }

  .cursos-grid header{
    grid-area: encab;
  }

  .cursos-grid main{
    grid-area: curso;
  }

  .cursos-grid footer{
    grid-area: pie-cursos;
  }

  .servicios-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.2fr;
    grid-template-areas : 
    "encab encab encab"
    "serv serv serv"
    "pie-cursos pie-cursos pie-cursos";
    }
  
    .servicios-grid header{
      grid-area: encab;
    }
  
    .servicios-grid main{
      grid-area: serv;
    }
  
    .servicios-grid footer{
      grid-area: pie-cursos;
    }

  .nosotros-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.2fr;
    grid-template-areas : 
    "encab"
    "nosotros"
    "pie-nosotros";
    }
  
    .nosotros-grid header{
      grid-area: encab;
    }
  
    .nosotros-grid main{
      grid-area: nosotros;
    }
  
    .nosotros-grid footer{
      grid-area: pie-nosotros;
    }

 