// variables

//colores

$color-heder: #f7aae0;
$suave: #f7cbf4;
$tutulo-principal:#6b0768;
$titulo-secundario:#860680;


//mapa

$dimension:(
    grande: 320px,
    medio: 290px,
    chico: 280px,
    peque: 250px,    
)
