@mixin m20{
    margin: 20px;
}

@mixin margentb($t, $b){
    margin-top: $t;
    margin-bottom: $b;
}

@mixin flex-w-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin margentl($t, $l){
    margin-top: $t;
    margin-left: $l;
}

@mixin im-b-w($b, $w){
    border-radius: $b;
        width: $w;
    }

    @mixin flex-w{
        display: flex;
        flex-wrap: wrap;
    }

  